{% extends 'tasks/base.html' %} 

{% block content %}
<main class="container py-5">

  <section class="card card-body">
  
    <h1 class="bg-primary display-1 text-center">TASK HOME</h1>
    <p >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis,
      repudiandae consequatur iure maxime quam accusamus excepturi facilis non
      laboriosam quae perspiciatis nostrum nisi unde. Quos nihil molestiae omnis
      porro. Similique iste vel eveniet, earum maxime adipisci placeat odio nam sint
      ad unde harum commodi sunt maiores aspernatur, tenetur neque consequuntur
      aliquam. Recusandae eos ea explicabo in voluptas harum neque expedita odio
      obcaecati hic unde, repudiandae fugiat veniam laudantium ratione qui error
      vitae. Dolorum soluta ipsum consequuntur vel ab provident sint rem possimus
      reiciendis ullam consequatur quibusdam quae voluptates quisquam iure
      accusamus, ipsam sit voluptate debitis dicta iste culpa? Ipsam!
    </p>
    <div class="text-center">
      <a class="btn btn-secondary" href="/signin">Sigin</a>
      <a  class="btn btn-dark" href="/signup">Signup</a>
    </div>
  </section>
</main>
{% endblock %}
