{% extends 'tasks/base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col col-md-4 offset-md-4 mt-4">
        {{ error }}
      <form action="/signup/" method="post" class="card card-body ">
        <h1 class="error"></h1>
        <h1 class="text-center">Signup</h1>
        {% csrf_token %}
        
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="write username"
            />
           
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Password"
            />
          </div>
          
          <button class="btn btn-primary mt-4">Signup</button>
    

       
      </form>
    </div>
  </div>
</main>

<script>
  const error = document.querySelector(".error");
  error.innerHTML = "{{ error }}";
</script>
{% endblock %}
